<div style="background-color: #4c4c4c;">
    <h1 class="display-7 text-white">Good Afternoon.</h1>
    <h1 class="display-4 text-white">Made for you</h1>
    <div class="container-fluid">
        <div class="d-flex flex-row">
            <spotify-for-you-card>Loading Card</spotify-for-you-card>
            <spotify-for-you-card>Loading Card</spotify-for-you-card>
            <spotify-for-you-card>Loading Card</spotify-for-you-card>
            <spotify-for-you-card>Loading Card</spotify-for-you-card>
        </div>
    </div>
</div>