<div style="Background-color: #4c4c4c;">
  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="What would you like to listen to?"
      aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <spotify-content-type-card>Loading Card</spotify-content-type-card>
      <spotify-content-type-card>Loading Card</spotify-content-type-card>
      <spotify-content-type-card>Loading Card</spotify-content-type-card>
      <spotify-content-type-card>Loading Card</spotify-content-type-card>
    </div>
  </div>
</div>