<ul class="nav nav-pills flex-column mb-auto mt-4">
    <li class="nav-item">
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="24" height="24">
                <use xlink:href="./assets/bootstrap-icons.svg#plus-square-fill" fill="white"></use>
            </svg>
            Create Playlist
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="24" height="24">
                <use xlink:href="./assets/bootstrap-icons.svg#heart-fill" fill="white"></use>
            </svg>
            Liked Songs
        </a>
    </li>
    <hr>
    <li>
        <a href="#" class="nav-link text-white" fill="white">
            Playlists
        </a>
    </li>
</ul>